repos:
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: ty check .
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
      - id: ruff-format
